/* styles.css */

* {
	font-family: Arial;
}

body {
  background: linear-gradient(to right, #f4f9ff, #d6eaf8);
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  line-height: 1.6;
  color: #2c3e50;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

section {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #145a32; /* green */
  text-align: center;
  margin: 30px 0 15px 0;
  font-size: 1.6em;
}

ul {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  text-align: center; 
}

li {
  margin: 10px 0;
}

a {
  background-color: white;
  color: purple;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 20px;
}

a:hover {
  background-color: purple;
  color: white;
}