h2 {
    font-family: "Rubik Burned"
}

.hero img {
  width: 100px;     /* width of passport photo */
  height: 120px;    /* height of passport photo */
  object-fit: cover;
  border-radius: 6px;   /* slight rounding, optional */
  border: 1px solid #ccc;
}