/* adamina-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/adamina-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* coda-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/coda-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Adamina', serif;
  background:linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #e5e7eb;
  line-height: 1.6;
}

.page-wrapper {
  max-width: 950px;
  margin: 30px auto;
  padding: 25px;
  background-color: rgba(10, 17, 30, 0.60);
  border-radius: 18px;
}

h1 {
  font-family: 'Coda', sans-serif;
  font-size: 32px;
  color: white;
  margin-bottom: 10px;
}

.intro {
  font-size: 16px;
  color: #9ca3af;
  margin-bottom: 30px;
}

.section-title {
  font-family: 'Coda', sans-serif;
  font-size: 24px;
  color: #f97316;
  margin-bottom: 15px;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.job-card {
  background-color: #111827;
  border: 1px solid #1f2937;
  padding: 15px;
  border-radius: 12px;
}

.company-logo {
  width: 120px;
  margin-bottom: 10px;
}

.job-title {
  font-family: 'Coda', sans-serif;
  font-size: 20px;
  color: white;
}

.company-name {
  font-size: 14px;
  color: #9ca3af;
}

.job-link {
  display: inline-block;
  background-color: #f97316;
  color: black;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 8px 0;
  text-decoration: none;
  font-weight: bold;
}

.job-link:hover {
  background-color: #ffb47c;
}

.job-description {
  background-color: rgba(249, 115, 22, 0.15);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: #e5e7eb;
}

.site-footer {
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #1f2937;
}

.site-footer p {
  color: #9ca3af;
  font-size: 14px;
}
